<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd ">

	<!-- 可以扫描controller、service、... 这里让扫描controller，指定controller的包 -->
	<context:component-scan base-package="com.felix.controller"></context:component-scan>
	
	
	 <!--主要作用于@Controller激活该模式下面是一种简写形式

          它会自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter，

          是spring MVC为@Controllers分发请求所必须的   -->                      
	
     <mvc:annotation-driven/>

	<mvc:default-servlet-handler/>
		<!-- 视图解析器
			解析jsp解析，默认使用jstl标签，classpath下的得有jstl的包
	 	-->
      	<bean
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<property name="prefix" value="/"/>
				<property name="suffix" value=".jsp"/>
		</bean>
	
	
	<!-- 文件上传 -->
			<bean id="multipartResolver"
				class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
				<!-- 设置上传文件的最大尺寸为5MB -->
				<property name="maxUploadSize">
					<value>5242880</value>
				</property>
			</bean>
	<!--拦截器 -->
<!-- 	<mvc:interceptors> -->
		<!--多个拦截器,顺序执行 -->
		<!-- 登陆认证拦截器 -->
<!-- 		<mvc:interceptor> -->
<!-- 			<mvc:mapping path="/**" /> -->
<!-- 			<bean class="cn.itcast.ssm.interceptor.LoginInterceptor"></bean> -->
<!-- 		</mvc:interceptor> -->
<!-- 		<mvc:interceptor> -->
			<!-- /**表示所有url包括子url路径 -->
<!-- 			<mvc:mapping path="/**" /> -->
<!-- 			<bean class="cn.itcast.ssm.interceptor.HandlerInterceptor1"></bean> -->
<!-- 		</mvc:interceptor> -->
<!-- 		<mvc:interceptor> -->
<!-- 			<mvc:mapping path="/**" /> -->
<!-- 			<bean class="cn.itcast.ssm.interceptor.HandlerInterceptor2"></bean> -->
<!-- 		</mvc:interceptor> -->
<!-- 	</mvc:interceptors> -->
</beans>